*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #001818;
}
header nav{
   font-size: 50px;
   font-family: "Salsa", cursive;
   text-transform: capitalize;
   overflow: hidden;
   display: flex;
    justify-content: space-between;
     
}
header nav ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    align-items: right;
    color: aliceblue;
    float: right;
}
header a{
    color: aliceblue;
    text-decoration: none;
    position: relative;
    letter-spacing: 1px;
}
header a:hover{
    color: #296560;
    transition: all 300ms linear;
    transform: scale(1);
    transform-origin: left;
}

header a::after{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scale(0);
}
header a:hover::after {
    transform: scale(1);
    transform-origin: left;
}

.float-message{
    color: yellowgreen;
    padding: 20px;
    font-size: 50px;
    font-family: "Salsa", cursive;
    margin: 20px;
    border-style: none;
}