@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    background-color: #222022;
    width: 100%;
}

header nav{
   font-size: 25px;
   font-family: "Salsa", cursive;
   text-transform: capitalize;
   overflow: hidden;
   display: flex;
    justify-content: space-between;
     
}
header nav ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    align-items: right;
    color: aliceblue;
    float: right;
}
header a{
    color: aliceblue;
    text-decoration: none;
    position: relative;
    letter-spacing: 1px;
}
header a:hover{
    color: #296560;
    transition: all 300ms linear;
}

header a::after{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scale(0);
}

.float-message{
    color: yellowgreen;
    padding: 10px;
    font-size: 25px;
    font-family: "Salsa", cursive;
    margin: 5px;
    border-style: none;
}
.img--container {
    border: 2.5px solid #87fff3;
    height: 350px;
    width: 250px;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 50rem;

}
.img--container > img {
    object-position: left;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #e50bd3;
    
  }